<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>278705899235-o2lkrltuh4onqvu41lgns4sdh359heag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278705899235-o2lkrltuh4onqvu41lgns4sdh359heag</string>
	<key>API_KEY</key>
	<string>AIzaSyAxV85kxgK-JpN1Gx6Bm-uquEsWq3OLco0</string>
	<key>GCM_SENDER_ID</key>
	<string>278705899235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyc.c4q.EricaStevens.Yogie</string>
	<key>PROJECT_ID</key>
	<string>yogie-ae904</string>
	<key>STORAGE_BUCKET</key>
	<string>yogie-ae904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:278705899235:ios:3c67b0cd1d239a7c</string>
	<key>DATABASE_URL</key>
	<string>https://yogie-ae904.firebaseio.com</string>
</dict>
</plist>